.links line {
    stroke: #999;
    stroke-opacity: 0.8;
}

.nodes circle {
    stroke: #f1f1f1;
    stroke-width: 2px;
}

text {
    font-family: sans-serif;
    font-size: 14px;
}

svg {
    background: url('../assets/images/content-background.jpg') no-repeat center;
    background-size: cover;
}
